@charset "utf-8";

/* CSS Document */

:root {
	
	/* #1463B6 in decimal RGB */
    --main-color: rgb(20,99,182);
	--main-color-rgb:20,99,182;

	/* #38BDF8 in decimal RGB */
	--color-two: rgb(56,189,248);
	--color-two-rgb:56,189,248;
	
}